###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> MacOs file ###
.DS_Store
###> End MacOs file ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###


###> Dev only migrate prod scripts ###
migration prod
migration_prod
###< symfony/asset-mapper ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> local storage ###
/storage/Media/*
/storage/media/*
/storage/tmpFiles/*
!/storage/Media/.gitkeep
!/storage/media/.gitkeep
!/storage/tmpFiles/.gitkeep
###< local storage ###
